/* css temporal equipo */
#contentWrapper {
    width: 815px;

}
h1{
    font-family: arial;
    font-size: 30px;
    Color: #3F3F3F ;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
}

h2{
    font-family: arial;
    font-size: 18px;
    Color: #3F3F3F ;
    font-weight: lighter;
    margin-top: 0;
}
h3{
    font-family: arial;
    font-size: 15px;
    Color: #A94421;
    font-weight:lighter;
    margin-bottom: 30px;
    margin-top:0;

}

p{
    font-family: arial;
    font-size: 12px;
    color:#3F3F3F ;
}

#pic{
    width:301px;
    height: 225px;
}

#paragraphBox{
    width: 480px;
    height: 143px;
    float:right;

}