/* css temporal equipo */
#contentWrapper {
    width: 750px;
    float: left;
    margin-bottom: 30px;
    opacity: 0;
}

#sidebarWrapper{
    width: 230px;
    float: right;
    opacity: 0;
}

.siderbarResaltado{
    width: 98%;
    height:40px;
    border:#A94422 solid 1px;
    color: #A94422;
    font-size: 18px;
    font-family: arial;
    padding-top: 15px;
    margin-bottom: 15px;
    margin-right: 1%;
    margin-left: 1%;
    cursor: pointer;
}

.sidebarSimple{
    width: 99%;
    height:25px;
    color: #3F3F3F;
    font-size: 12px;
    font-family: arial;
    padding-top: 10px;
    margin-right: 1%;
    margin-left: 5%;
    font-weight: lighter;
    cursor: pointer;
}

.mailSide{
    width: 99%;
    height:25px;
    color: #A94422;
    font-size: 12px;
    font-family: arial;
    margin-right: 1%;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 55px;
    font-weight: lighter;
    cursor: pointer;
}

.imgSidebar{
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.imgSidebarMail{
    float: left;
    width: 29px;
    height: 10px;
    margin-right: 5px;
    margin-top: 3px;
}

.btnera{
    width: 1000px;
    margin-bottom: 30px;
}

.btnProducto{
    width: 200px;
    height: 87px;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}

.imgBtnProducto{
    width: 200px;
    height: 87px;
}

.mainTitle {
    margin-bottom: 30px;
}

.subTitle{
    margin-bottom: 15px;
}

.miniTitle{
    margin-bottom: 30px;
}

.miniTitle h3{
    font-family: arial;
    font-size: 18px;
    Color: #3F3F3F;
    font-weight:lighter;
    margin-top:20px;
}

.subTitle h1{
    font-family: arial;
    font-size: 25px;
    Color: #3F3F3F ;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0px;
}

.subTitle h3{
    font-family: arial;
    font-size: 15px;
    Color: #A94421;
    font-weight:lighter;
    margin-top:0;
}

.mainTitle h3, .contentWithImage h3, .contentWithImageR h3{
    font-family: arial;
    font-size: 15px;
    Color: #A94421;
    font-weight:lighter;
    margin-top:0;

}

.mainTitle h1, .contentWithImage h1, .contentWithImageR h1{
    font-family: arial;
    font-size: 30px;
    Color: #3F3F3F ;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 5px;
}

.imgTitulo{
    margin-bottom: 30px;
}

.contentWithImage{
    width: 750px;
    height: 130px;
    margin-bottom: 15px;
}

.contentWithImageR{
    width: 750px;
    margin-left: -10px;
    margin-bottom: 15px;
    background-color: #F3F3F4;
    border: #CCCCCC solid 1px;
    padding: 10px;
}

.contentWithImage img, .contentWithImageR img{
    float:left;
    margin-right: 10px;
}

.contentWithImage div{
    width: 480px;
    float:left;
}

.contentWithImage h2{
    font-family: arial;
    font-size: 18px;
    Color: #3F3F3F ;
    font-weight: lighter;
    margin-top: 0;
}

.contentWithImage div p, .contentWithImageR div p{
    font-family: arial;
    font-size: 12px;
    color:#3F3F3F ;
    margin: 0;
    line-height: 18px;
}

.contentHighlight div p{
    font-family: arial;
    font-size: 12px;
    color:#3F3F3F ;
    margin: 0;
}

.mainTitleVWF{
    margin-top: 0;
    background-color:rgb(169,68,34);
    height:68px;
    /* Firefox v3.5+ */
    -moz-box-shadow:7px 6px 15px rgba(0,0,0,0.65);
    /* Safari v3.0+ and by Chrome v0.2+ */
    -webkit-box-shadow:7px 6px 15px rgba(0,0,0,0.65);
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    box-shadow:7px 6px 15px rgba(0,0,0,0.65);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=7,OffY=6,Color=#a6000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=7,OffY=6,Color=#a6000000,Positive=true);
}

.mainTitleVWF h1{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size:25px;
    color: #ffffff;
}

.mainTitleVWF h3{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size:12px;
    color: #ffffff;
}

.logoTitle{
    background-color:rgb(219,109,72);
    width:214px;
    height:45px;
    margin-top: 10px;
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
    float: left;
    /* Firefox v3.5+ */
    -moz-box-shadow:2px 4px 7px rgba(0,0,0,0.65);
    /* Safari v3.0+ and by Chrome v0.2+ */
    -webkit-box-shadow:2px 4px 7px rgba(0,0,0,0.65);
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    box-shadow:2px 4px 7px rgba(0,0,0,0.65);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=4,Color=#a6000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=4,Color=#a6000000,Positive=true);
}

.mainTitleWrapperVWF{
    width: 510px;
    height: 58px;
    float: right;
    padding-top: 12px;
    margin-left: 15px;
}

.logoTitle h1{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size:20px;
    color: #ffffff;
}

.logoTitle h3{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size:12px;
    color: #ffffff;
}

.projectTitleVWF{
    width: 473px;
    height: 110px;
    margin-top: 15px;
}

.projectTitleVWF img{
    float: left;
    margin-right: 10px;
}

.projectTitleVWF h1{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size:20px;
    color: #3F3F3F;
}

.projectTitleVWF h3{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size:12px;
    color: #3F3F3F;
}

.mainProjectTitleVWF{
    width: 473px;
    height: 51px;
    border-bottom: 1px #A8A8B7 solid;
}

.subProjectTitleVWF{
    width: 473px;
    height: 51px;
    color: #3F3F3F;
}

.subProjectTitleVWF p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size:11px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.projectScreenShot{
    width: 471px;
    height: 467px;
    border: 1px #3F3F3F solid;
}

.projectScreenShot img{
    width: 471px;
    height: 414px;
    margin: 0;
}

.projectState{
    width: 473px;
    height: 201px;
}

.projectState h1{
    margin: 15px 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #3F3F3F;
    font-weight: lighter;
}

.projectState h2{
    margin: 15px 0 0 0;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3F3F3F;
    font-weight: lighter;
}

.panelTitle{
    width: 466px;
    height: 19px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 2px;
    padding-left: 5px;
    background-color: #3F3F3F;
}

.screenShotLink{
    margin-top: -5px;
    width: 466px;
    height: 28px;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3F3F3F;
    font-size: 18px;
    cursor: pointer;
}

.costWrapper{
    margin-top: 15px;
    background-color:rgb(63,63,63);
    width:260px;
    height:110px;
    /* Firefox v3.5+ */
    -moz-box-shadow:2px 1px 4px rgba(0,0,0,0.65);
    /* Safari v3.0+ and by Chrome v0.2+ */
    -webkit-box-shadow:2px 1px 4px rgba(0,0,0,0.65);
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    box-shadow:2px 1px 4px rgba(0,0,0,0.65);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=1,Color=#a6000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=1,Color=#a6000000,Positive=true);
}

.costWrapper .saldoFavor{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #16DC41;
}

.costWrapper .dSaldoFavor{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #ffffff;
}

.costWrapper .linkAnalisisOpcionesPago{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #92A1FA;
    cursor: pointer;
}

.costWrapper .linkCotizacion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.costWrapper .dCostoTotal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
}

.costWrapper .costoTotal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #16DC41;
    line-height: 30px;
}

.costWrapper .dMsgCostoTotal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #ffffff;
}

.panel{
    width:258px;
    border: 1px #A8A8B7 solid;
    margin-top: 21px;
}

.panel img{
    margin-top: 15px;
    cursor: pointer;
}

.panelWB{
    width:260px;
    margin-top: 21px;
}

.panelWB h1{
    margin: 0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #3F3F3F;
    font-weight: lighter;
}

.panelWB p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3F3F3F;
}

.genericPanelTitle{
    width: 254px;
    height: 19px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 2px;
    padding-left: 5px;
    background-color: #3F3F3F;
}

.miniSpec{
    width: 254px;
    padding-left: 5px;
    margin-top: 30px;
}

.miniSpec img{
    float: left;
    margin-top: 0;
    margin-right: 5px;
}

.miniSpec h1{
    margin: 0 0 7px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3F3F3F;
    font-weight: lighter;
}

.miniSpec p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #3F3F3F;
}