
#wrapper{
    width:1000px;
    margin:0 auto;
    position:relative;
}
#vyteeLogoStart{
	width:283px; height:97px;
	margin-left:350px;
	margin-top:300px;
	position:absolute;
	left:3000px;
	color:#465859;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
}

#welcomeLogoText{
	margin-top:20px;
}

#welcomeContainer{
	width:1000px;
	height:565px;
	margin-top:50px;
	position:absolute;
	top:100px;
}

#mainBackground{
	background-color:#333333;
	width:1000px;
	height:555px;
	position:relative;
	overflow:hidden;
}

#genericBG{
	width:1000px;
	height:555px;
	position:absolute;
}

.banner{
	position:absolute;
	width:1000px;
	height:555px;
	display:none;
}

#upperNav{
	width:1000px;
	height:25px;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	color:#999999;
}

#upperNav a{
	color:#999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
}

#leftNav{
	width:500px;
	height:25px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:10px;

}

#rightNav{
	float:right;
	width:100px;
	height:25px;
	font-family:Arial, Helvetica, sans-serif;
}

#rightNav img{
	float:right;
	margin-top:10px;
	margin-right:5px;

}

#bottomContainer{
	width:1000px;
	height:145px;
	background-image:url('../img/welcomeBottomBG.png');
	background-repeat:repeat-x;
	position:relative;
	overflow:hidden;
}

#englishLink{
	width:179px; height:50px;
	float:left;
	margin-top:47px;
	position:absolute;
	right:1000px;
	background-image:url('../img/welcomeEnglishButton.png');
	cursor:pointer;
}

#englishLink:hover{
	background-image:url('../img/welcomeEnglishButtonHover.jpg');
}

#welcomeMessage{
	width:225px; height:57px;
	float:left;
	color:#465859;
	margin-left:273px; margin-top:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-align:right;
	position:absolute;
	right:1000px;
	
}

#vyteeLogo{
	width:283px; height:97px;
	float:right;
	margin-top:22px; margin-right: 16px;
	position:absolute;
	right:1000px;
}

/* HOME */

#fixedHeader{
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    height: 27px;
    background-color: #ffffff;
    z-index: 9999;
}

#header{
    width: 1000px; height: 167px;
    margin-top: -8px;
    margin-bottom: 15px;
}

#content{

}
#logonBar{
    width: 1000px; height: 27px;
    margin: auto;

}

#userID{
    background-color:rgb(169,68,34);
    width:202px;
    height:27px;
    float: left;

    /* SOMBRAS */
    /* Firefox v3.5+ */
    -moz-box-shadow:2px 2px 5px rgba(0,0,0,0.65);
    /* Safari v3.0+ and by Chrome v0.2+ */
    -webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.65);
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    box-shadow:2px 2px 5px rgba(0,0,0,0.65);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#a6000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#a6000000,Positive=true);
}

#userID p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:rgb(255,255,255);
    text-align:left;
    margin-top: 5px;
    margin-left: 5px;
}

#welcomeUserMessage{
    background-color:rgb(63,63,63);
    width: 798px;
    height: 27px;
    float: left;

    /* SOMBRAS */
        /* Firefox v3.5+ */
    -moz-box-shadow:2px 2px 5px rgba(0,0,0,0.65);
    /* Safari v3.0+ and by Chrome v0.2+ */
    -webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.65);
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    box-shadow:2px 2px 5px rgba(0,0,0,0.65);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#a6000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#a6000000,Positive=true);
}

#welcomeUserMessage p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:150%;
    color:rgb(255,255,255);
    text-align:left;
    margin-top: 5px;
    margin-left: 7px;
}

#mainHeader{
    /* Firefox v3.6+ */
    background-image:-moz-radial-gradient(8% 41%,circle closest-corner,rgb(255,255,255) 0%,rgb(223,223,223) 99%);
    /* Safari v4.0+ and by Chrome v3.0+ */
    background-image:-webkit-gradient(radial,8% 41%,0,8% 41%,442.1121368408203,color-stop(0, rgb(255,255,255)),color-stop(0.99, rgb(223,223,223)));
    /* Safari v6.0+ and by Chrome v10.0+ */
    background-image:-webkit-radial-gradient(8% 41%,circle closest-corner, rgb(255,255,255) 0%,rgb(223,223,223) 99%);
    /* IE v10+ */
    background-image:-ms-radial-gradient(8% 41%,circle closest-corner, rgb(255,255,255) 0%,rgb(223,223,223) 99%);
    background-image:radial-gradient(8% 41%,circle closest-corner, rgb(255,255,255) 0%,rgb(223,223,223) 99%);
    width:1000px;
    height:140px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Style=2)";
    filter:progid:DXImageTransform.Microsoft.Alpha(Style=2);

    position:relative;
    top:27px;
}

#mainVyteeLogo{
    width: 511px; height: 67px;
    position: relative;
    top: 21px; left: 6px;

}

#logoImg{
    float: left;
    position: absolute;
}

#eslogan{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:rgba(70,88,89,0.8);
    text-align:left;
    width: 271px; height: 21px;
    position: absolute;
    top: 25px; left: 240px;
}

#mainNav{
    text-align: right;
    width: 250px; height: 75px;
    position: absolute;
    top: 7px; right: 8px;
}

#mainNav a{
    font-family:"Calibri";
    font-size:20px;
    line-height:150%;
    color:rgba(47,58,60,0.8);
    text-align:right;
    text-decoration: none;
    display: block;
}

#location{
    background-color:rgba(242,244,244,0.5);
    width:983px;
    height:26px;
    border-color:rgba(181,188,189,0.5);
    border-width:1px;
    /* Firefox v1.0+ */
    -moz-border-radius:0%;
    /* Safari v3.0+ and by Chrome v0.2+ */
    -webkit-border-radius:0%/13%;
    /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
    border-radius:0%/13%;
    border-style:solid;

    position: absolute;
    top: 105px; left: 7px;
}

#urlLocation{
    padding-left: 10px;
}

.locationHistory{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:150%;
    color:rgb(169,68,33);
    text-align:left;
}

.locationActive{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:150%;
    color:rgb(107,121,121);
    text-align:left;
}

#mainBanner{
    background-color:rgb(63,63,63);
    width:1000px;
    height:345px;
}

.clear{
    clear: both;
}

.mainBanner{
    width:1000px;
    height:345px;
    position: absolute;
}

.genericBanner{
    position: absolute;
}

#mainContent{
    width: 1000px;
    background: url("../img/backgroundMainContent.png")  repeat-x;
    position: relative;
    height: 500px;
    padding-top: 65px;

}

#section_Clientes{
    width: 1000px; height: 162px;
    background: url("../img/backgroundSectionClientes.png") repeat-x;
}

#previews{
    width: 820px;
    overflow: hidden;
    height: 131px;
    float: left;
}

.previewCliente{
    width: 228px; height: 131px;
    margin-left: 27px;
    float: left;
    position: relative;
}

.previewClienteText{
    width:228px;
    height:45px;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.previewClienteText h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:rgb(255,255,255);
    text-align:left;
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    text-shadow:2px 2px 4px rgba(0,0,0,0.65);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#a6000000,Positive=true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#a6000000,Positive=true);

    line-height: 20px;
    /*ELIMINAR MARGIN*/
    margin:0;
    font-weight: normal;
    padding-left: 10px;
    padding-top: 4px;
}

.previewClienteText p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    line-height: 16px;
    color:rgb(255,255,255);
    text-align:left;
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    text-shadow:2px 2px 4px rgba(0,0,0,0.65);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#a6000000,Positive=true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#a6000000,Positive=true);

    /*ELIMINAR MARGIN*/
    margin:0;
    padding-left: 10px;
}

#previewTitle{
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    line-height:150%;
    color:rgb(255,255,255);
    text-align:right;
    float: right;
    width: 170px;
    height: 25px;

    margin-top: 51px;
    margin-right: 10px;
}

#previewSlider{
    width: 3000px;
    padding-left: 0px;
}

#section_links{
    position: relative;
    width: 1000px;
    height: 323px;
    margin-top: 35px;
}

#linksIzquierda{
    width: 483px;
    height: 323px;
    margin-left: 9px;
    float: left;
}

#btnI1{

}

#btnI3{
    margin-left: 79px;
}

#linksDerecha{
    width: 475px;
    height: 323px;
    float: right;
    margin-right: 6px;
}

#btnD3{
    margin-left: 71px;
}

#trabajos{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:150%;
    color:rgba(63,63,63,0.8);
    text-align:left;

    width: 200px;
    float: left;
}

#trabajosAudioVisual{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:150%;
    color:rgba(63,63,63,0.8);
    text-align:right;
    width: 200px;

    float: right;
}

#contactoText{
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    line-height:150%;
    color:rgb(63,63,63);
    text-align:right;
}

#bottomContent{
    width: 1000px; height: 264px;
    margin-top: 15px;
}

#bottomColumnA{
    width: 792px; height: 264px;
    float: left;
    background-color:rgb(63,63,63);
}

#bottomColumnB {
    background-color:rgb(126,64,43);
    width: 208px; height: 264px;
    float: left;
}

.columnDepartment{
    margin-top: 15px;
    margin-left: 15px;

    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:150%;
    color:rgb(255,255,255);
    text-align:left;
    /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
    text-shadow:2px 2px 4px rgba(0,0,0,0.65);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#a6000000,Positive=true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2,OffY=2,Color=#a6000000,Positive=true);
}

.columnDepartment span{
    font-size:15px;
}

.column{
    width: 252px;
    height: 249px;
    float: left;
    margin-top: 15px;
}